<form>
  <h1>ATUALIZANDO LIVRO</h1>

  <mat-form-field class="form">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="livro.titulo" [formControl]="titulo" required autocomplete="off" type="text"
           name="titulo" placeholder="ex. Curso de Java" maxlength="100"/>
    <mat-error *ngIf="titulo.invalid">{{ getMessageTitulo() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Autor</mat-label>
    <input matInput [(ngModel)]="livro.nomeAutor" [formControl]="autor" required autocomplete="off" type="text"
           name="nomeAutor" placeholder="ex. Tanenbaum" maxlength="100"/>
    <mat-error *ngIf="autor.invalid">{{ getMessageNomeAutor() }}</mat-error>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Texto</mat-label>
    <textarea matInput [(ngModel)]="livro.texto" [formControl]="texto" required type="text"
              name="texto" placeholder="ex. Lorem ipsum" maxlength="10000"></textarea>
    <mat-error *ngIf="texto.invalid">{{ getMessageTexto() }}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button (click)="update()" [disabled]="getMessageTitulo() || getMessageNomeAutor() || getMessageTexto()" class="mat-elevation-z8" mat-raised-button color="primary">ATUALIZAR</button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-raised-button color="warn">CANCELAR</button>
  </div>
</form>
